<div class="element collapsed"
  [ngStyle]="getBackgroundStyle()">

  <div class="movie-details-sample">
    <h4 class="movie-title">{{title}}</h4>
    <h4 class="movie-rating">{{rating}}</h4>

    <div class="backdrop backdrop-bottom"></div>
  </div>

  <section class="movie-list">
    <div class="backdrop backdrop-top"></div>

    <div class="details-controller">
      <button class="close"></button>
    </div>

    <div class="movie-details-full">
      <h2 class="movie-title">{{title}}</h2>
      <h4 class="movie-rating">{{rating}}</h4>
    </div>
    <h4 class="movie-length">{{length}}</h4>

    <div class="movie-content">
      <iframe *ngIf="show" width="100%" height="60%" [src]="youtubeURL()" frameborder="0" allowfullscreen></iframe>
      <p>
        {{description}}
      </p>
    </div>
  </section>
</div>
