.content {
  flex: 1;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0;
  margin-top: 40px;

  app-tile {
    display: flex;
    justify-content: center;
    margin: 4px auto;
  }
}

.empty-movie-list {
  display: flex;
  justify-content: center;
  flex: 1;
}
