<div class="menu">
  <div class="app-menu"></div>
</div>
<div class="layout">
  <div class="header">
    <div class="menu-icon">
      <img src="/assets/images/icons/three.svg" alt="">
    </div>

    <div class="menu-content">
      <div [hidden]="searchable" class="menu-item">
        IMDB-Lite
      </div>
      <div [hidden]="!searchable" class="menu-item">
        <input [(ngModel)]="textFilter" (keyup)="textFilterMovies()" type="text">
        <!-- <input (click)="toggleGenre()" type="checkbox" *ngFor="let genre of genreTypes" value="{{genre.value}}" [(ngModel)]="genre.checked"/> -->
      </div>
    </div>

    <div class="menu-right">
      <div (click)="toggleSearchBar()" class="menu-icon">
        <img src="/assets/images/icons/search.svg" alt="">
      </div>
    </div>
  </div>
</div>
